<!DOCTYPE html>
<html>
    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/main.css" />
    <script src="../JS/epic.js"></script>
    </head>
    <body>
        <header>
            <h1>EpicMail</h1>
        </header>
        <div class="top">
          <a href="index.html" onclick="logout()">Logout</a>
          </div>   
          <div class="innerAdd">
          <div id="myDIV" class="header">
            <h2 style="margin:5px">Group Members</h2>
            <input type="text" id="myInput" placeholder="Member name">
            <span onclick="newElement()" class="addBtn">Add</span>
          
        </div>
        
        <ul id="myxL">
          <li>bekeplar</li>
          <li>Harriet</li>
          <li>Paul</li>
          <li>Ricky</li>
        </ul>
        <button><a href="group.html"><h2 class="ma-ma-mia">My Groups</h2></a></button>
      </div>
    </body>
</html>
