<!DOCTYPE html>
<html>
    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/main.css" />
    <script src="../JS/epic.js"></script>
    </head>
    <body>
        <div class="top">
          <a href="index.html">Logout</a>
          </div>   
          <div class="innerAdd">
        <div id="myDIV" class="header">
          <h2 style="margin:5px">Group Members</h2>
          <input type="text" id="myInput" placeholder="Member name">
          <span onclick="newElement()" class="addBtn">Add</span>
        </div>
        
        <ul id="myUL">
          <li>bekeplar</li>
          <li>Harriet</li>
          <li>Paul</li>
          <li>Ronald</li>
          <li>Ricky</li>
          <li>Doreen</li>
        </ul>
      </div>
    </body>
</html>
