<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>User dashboard!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/main.css" />
</head>
<body>
    <div id="epic">
            <header>
                <h1>EpicMail</h1>
            </header>
            <heder id="topy">
                    <div class="la-top">
                        <a href="index.html">home</a>
                        <a href="user_dashboard.html">User</a>
                    </div>    
                </heder><br><br>
            <div id="Drafts" class="epicmail">
                    <h4>Drafts</h4>
                <hr>
                <div><a href="#">Kindly resend me</a> .....................</div>
                <div class="button-push">
                    <button type="submit" class="newbie">Send</button>
                    <button type="submit" class="newbie">Delete</button>
                </div>
            </div>
    </div>
</html>