<!DOCTYPE html>
<html>
    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/main.css" />
    <script src="../JS/epic.js"></script>
    </head>
    <body>
        <div class="top">
          <a href="index.html">Logout</a>

          </div>   
          <div class="innerAdd">
        <div id="myDIV" class="header">
          <h2 style="margin:5px">Create Group</h2>
          <input type="text" id="myInput" placeholder="Name of Group">
          <span onclick="newElement()" class="addBtn">Add</span>
        </div>
        
        <ul id="myUL">
          <li>Tetraens</li>
          <li>Andela21</li>
          <li>CohortLegacy</li>
        </ul>
        <button><a href="Admin.html"><h2 class="ma-ma-mia">Add Member(s)</h2></a></button>

      </div>
    </body>
</html>
