<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>User Inbox!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/main.css" />
</head>
<body>
    <div id="epic">
            <header>
                <h1>EpicMail</h1>
            </header>
            <heder id="topy">
                    <div class="la-top">
                        <a href="index.html">home</a>
                        <a href="Admin.html">user</a>
                    </div>    
                </heder><br><br>
            </div>
            <div id="Inbox" class="epicmail">
                    <h4>Inbox</h4>
                <hr>
                <div><a href="#">Andela21 Expression</a></div>
                <hr>
                <div><a href="#">Digest Africa</a></div>
            </div>
            </div>
    </div>
</html>