<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/main.css" />
    <title>Login</title>
    </head>
  <body>
      <header>
          <h1>EpicMail</h1>
      </header>
      
      <div  class="modal">
          <form class="modal-content animate" action="user_dashboard.html" action="#" onsubmit="login();return false">
              <div class="container">
                  <img src="../static/images/loading.svg" id="submit_progress" class="hide">

                  <span class="error" id="error"></span>
                  <span class="success" id="success"></span>
                <label for="email"><b>Email &</b></label>
                <input type="text" id="email" placeholder="Enter Email" name="email" required>

                <label for="psw"><b>Password</b></label>
                <input type="password" id="password" placeholder="Enter Password" name="psw" required>
                  
                <button type="submit">Login</button>
                <label>
                 Remember me
                </label>
                  <input type="checkbox" checked="checked" name="remember">
              </div>
              <div class="container" style="background-color:#f1f1f1">
                <button class="cancelbtn">Cancel</button>
                <span class="psw">Forgot password? <a href="reset.html">Reset</a></span><br>
                <span class="sgn">Don't have an account<a href="signup.html">Signup</a></span>
              </div>
              <h3>Epic mail is an application that enable people communicate over the internet allover the world!</h3>
          </form>
    </div>
  </body>
  <script src="../JS/login.js"></script>
</html>
