<!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="utf-8" />
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <title>EpicMail login!</title>
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" type="text/css" media="screen" href="../static/main.css" />
        </head>
        <body>
            <div class="epic">
                <header>
                    <h1>EpicMail</h1>
                </header>
                <heder id="topy">
                        <div class="top">
                            <a href="signup.html">signup</a>
                            <a href="reset.html">Reset</a>
                        </div>    
                    </heder><br><br>
            
                <h2>Epic mail  is a web app that helps people exchange messages or information over the internet. </h2>
                    
                <div class="dare">
                        <form action="user_dashboard.html">
                            <div class="rectangle">
                                <label for="email">
                                    Email
                                </label><br>
                                <input type="email" required placeholder="email@gmail.com">
                                <label for="password">
                                    Password
                                </label><br>
                                <input type="password" required placeholder="password"><br><br>
                                <button type="submit">sigin</button>
                            </div>
                        </form>
                </div>
            </div>
        </body>
        </html>