<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" media="screen" href="../static/css/main.css" />  
        <title>reset</title>
    </head>
    <body>
            <header>
              <h1>EpicMail</h1>
            </header>

        <form action="index.html" id="la-fonic">
        <h2>Password Reset</h2>
        <div class="input-container">
            <i class="fa fa-user icon"></i>
            <input class="input-field" type="text" required placeholder="email" name="email">
        </div>

        <div class="input-container">
            <i class="fa fa-envelope icon"></i>
            <input class="input-field" type="password" required placeholder="password" name="password">
        </div>
        
        <div class="input-container">
            <i class="fa fa-key icon"></i>
            <input class="input-field" type="password" required placeholder="Confirm Password" name="password">
        </div>
         <div id="button">
            <button type="submit" class="btn">Reset</button>
        </div>
        <span class="psw">Or maybe <a href="../index.html">Login</a></span>
        </form>

    </body>
</html>
