<DOCTYPE <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>iReporter signup!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/main.css" />
</head>
<body>
    <div class="omega">
        <h1>EpicMail</h1>
        <div class="dare">
        
                <form action="signin.html">
                    <div class="rect">
                        <label for="email">
                            Email
                        </label><br>
                        <input type="email" required placeholder="email@gmail.com">
                        <label for="name">
                            firstname
                        </label><br>
                        <input type="name" required placeholder="firstname">
                        <label for="name">
                                lastname
                        </label><br>
                            <input type="name" required placeholder="lastname">
                        <label for="password">
                            Password
                        </label><br>
                        <input type="password" required placeholder="password">
                        <label for="password">
                            Confirm password
                            </label><br>
                            <input type="password" required placeholder="confirm password">
                        <button type="submit">signup</button>
                </div>
                </form>
        </div>
    </div>
</body>
</html>