<!DOCTYPE html>
<html>
    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/main.css" />
    </head>
  <body>
      <header>
          <h1>EpicMail</h1>
      </header>
        <form action="index.html" id="la-fonix" action="#"
        onsubmit="signUpAccount();return false">
            <h2>User Signup</h2>
            <img src="../static/images/loading.svg" id="submit_progress" class="hide">

                <span class="success" id="message"></span>
            <div class="input-container">
              <i class="fa fa-user icon"></i>
              <input class="input-field" type="text" id="firstname" required placeholder="firstname" name="firstname">
              <i class="error" id="firstname-error"></i>
            </div>
            <div class="input-container">
              <i class="fa fa-user icon"></i>
              <input class="input-field" type="text" id="lastname" required placeholder="lastname" name="lastname">
              <span class="error" id="lastname-error"></span>
            </div>
            <div class="input-container">
              <i class="fa fa-envelope icon"></i>
              <input class="input-field" type="text" id="email" placeholder="Email" name="email">
              <span class="error" id="email-error"></span>
            </div>
            <div class="input-container">
              <i class="fa fa-key icon"></i>
              <input class="input-field" type="password" id="password" required placeholder="Password" name="psw">
              <span class="error" id="password-error"></span>
            </div>
            <div class="input-container">
              <i class="fa fa-key icon"></i>
              <input class="input-field" type="password" id="confirm_password" required placeholder="Confirm Password" name="psw">
              <span class="error" id="confirm_pass-error"></span>
            </div>
            <button type="submit" class="btn">Signup</button>
            <span class="psw">Already have an account?<a href="index.html">Login</a></span>
            
        </form>
  </body>
  <script src="../JS/signup.js"></script>
</html>
