<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>User dashboard!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/main.css" />
</head>
<body>
    <div id="epic">
            <header>
                <h1>EpicMail</h1>
            </header>
            <div class="main_menu">
                <a href="#">New</a>
                <a href="inbox.html">Inbox</a>
                <a href="sent.html"">Sent</a>
                <a href="drafts.html">Drafts</a>
            </div>
            <heder id="topy">
                    <div class="la-top">
                        <a href="index.html">home</a>
                        <a href="Admin.html">Admin</a>
                    </div>    
                </heder><br>
            
 
            <div id="Compose" class="epicmail">
                <form id="la-la-create">
                    <h4>Create new message</h4>
                    <div id=" sender"><input type="email" required placeholder="From" ></div>
                    <div id="reciever"><input type="email"placeholder="To individual" ></div>
                    <div id="subject"><input type="text"required placeholder="Subject"></div><br><br>
                    <div class="button-push">
                        <button type="submit" class="newbie">Send</button>
                        <button type="submit" class="newbie">Save as Draft</button>
                    </div>
                </form>
            </div>
     </div>
</html>