<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>User dashboard!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/main.css" />
</head>
<body>
    <div class="epic">
        <header>
            <h1>EpicMail</h1>
        </header>
        <div class="top-menu">
            <a href="signin.html">logout</a>
            <a href="index.html">Home</a>
        </div>
        <div class="dare">
                
        </div>
    </div>
</body>
</html>