body {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
overflow: hidden;
background-color: blue;
margin-top: -18px;
}

.header a {
    float: left;
    text-decoration: none;
    font-size: 4vw;
    padding: 2%;
    color: black;
}

.header-right {
    float: right;
}

.header-right a {
    font-size: 180%;
    margin-top: 15%;
}

input {
    display: block; 
    width: 20%;
    height: 10%;
    padding: 1%;  
    margin-top: 1%;
    margin-bottom: 1%;
    text-decoration-color: black;
    margin-left: 10%;
    border: 1px solid black;
    border-radius: 6px;
}

.epicmail form input[type="checkbox"]{
    display: inline-block;
    width: 20px;
}


label {
    margin-left: 20%;
}

form button {
    width: 40%;
    margin-left: 30%;
    height: 40px;
    border: 1px solid white;
    border-radius: 6px;
    margin-top: 10px;
    margin-bottom: 10px;
}

 #la-fonic, #la-fonix{
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
}

.error {
    display: none;
    font-size: 60%;
    color: #e08989;
    font-weight: bold;
    padding-top: 0.25em;
    padding-left: 20%;
  }
  
  .hide {
    display: none;
  }
  
  .success {
    display: none;
    font-size: small;
    color: hsl(142, 90%, 51%);
    font-weight: bold;
    padding-top: 0.30em;
  }
  

form button:hover{
    background-color: black;
    color: blue;
}



.sidebar {
    height: 40%;
    background-color:blue;
    width: 165px;
    position: fixed;
    left: 2;
    padding-top: 20px;
    padding-left: 2%;
    margin-left: 1%;
    border-radius: 5px;
}

.sidebar a {
    text-decoration: none;
    display: block;
    font-size: 150%;
    padding: 6% 8% 6% 16%;
    margin-top: 10px;
    color: white;
}

.epicmail {
    margin-top: 10px;
    margin-left: 16.1%;
    font-size: 28px;
    width: 80%;
    background-color: blue;
    color: white;
    display: none;
    padding-top: 20px;
}

.epicmail input {
    width: 80%;
    margin-left: 8.2%
}
textarea {
    width: 80.9%;
    height: 10vw;
    margin-left: 8%;
    margin-bottom: 5%;
}

#la-boni textarea {
    height: 90px;
}

h3 {
    text-align: center
}
p {
    margin-left: 9%;
}

.send_button, .save_button {
    width: 20%;
    margin: auto;
    margin-left: 8%;
    height: 40px;
    border: none;
    margin-bottom: 10px;
}

.save_button{
    margin-left: 40.9%;
}

.epicmail a{
    text-decoration: none;
    color: aliceblue;
    margin-left: 20px;
}


::placeholder{
    color: rgb(240, 239, 239);
}

button {
    color: rgb(26, 26, 248);
}

span a {
    color: rgb(26, 26, 248);
}

fieldset {
    border-color: white;
}

@media screen and (max-width: 641px){
    .header a {
        float: none;
        text-align: left;
        display: block;
        font-size: 6vw;
        text-align: center;
    }
    .header-right{
        float: none;
    }

    .header {
        overflow: hidden;
        margin-top: -12px;
        }

    .sidebar {
        height: 30%;
        background-color:blue;
        width: 20%;
        position: fixed;
        left: 0;
        padding-top: 5%;
        padding-left: 2%;
        margin-bottom: 5%;
        margin-left: 1%;
        border-radius: 5px;
    }

    .epicmail {
        margin-top: 3%;
        margin-left: 26.1%;
        font-size: 16px;
        width: 60%;
        background-color: blue;
        display: none;
        padding-top: 10px;
    }
}
